%head
  %title oxidized
  %script{:src=>'//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'}
  %script{:src=>'//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js'}
  %link{:rel=>'stylesheet', :href=>'/stylesheets/oxidized.css'}
