---
name: "Stale Issue/PR cleanup"
on:
  schedule:
    - cron: "30 1 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          operations-per-run: 500
          days-before-issue-stale: 90
          days-before-close: 30
